@import "../config";

.root {
  display: flex;
  font: $font;
  box-sizing: border-box;
}

.content {
  strong {
    display: block;
    font-size: 14px;
  }
  small {
    font-size: 12px;
    color: lighten($color-dark, 10);
  }
}

.controls {
  margin-left: auto;
}
