@import "../config";

$border: 1px solid #eee;

.root {
  padding: 10px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  border-radius: 5px;
  font: $font;
}

.list {
  margin: 10px 0 0;
  padding: 0;
  border-bottom: $border;
  list-style-type: none;
}

.item {
  padding: 10px 0;
  border-top: $border;
}

.controls {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.button {
  margin-left: 10px;
}
